<!DOCTYPE html>
<html>

<body>
<h1>Sign up Form</h1>
<form action="/register" method="POST">
<div>	
<input type="text" name="username" placeholder="username"/>
</br>
</div>

<div>
	<input type="text" name="password" placeholder="password"/>
</br>
</div>
<div>
	<input type="submit" value="submit"/>
</br>
</div>

</form>
</body>
</html>
